/* MISC */
.primary {
  color: antiquewhite; }

.secondary {
  color: black; }

.alternative {
  color: white; }

.base {
  color: yellowgreen; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  font-family: sans-serif;
  font-size: 1.2rem;
  color: antiquewhite;
  min-height: 100%;
  background-image: url(../Images/fondo.jpg);
  background-repeat: repeat;
  background-position: center center;
  background-attachment: fixed; }

.grid-contenedor > * {
  border-radius: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  padding: 10px;
  text-align: center; }

aside picture img {
  height: 70px;
  width: auto; }

@media (min-width: 768px) {
  .patrocinadores {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
  .patrocinadores picture {
    display: flex;
    justify-content: center; } }

@media (min-width: 1200px) {
  .patrocinadores {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 130px; }
  .patrocinadores picture {
    display: flex;
    justify-content: center; } }

/* PARTIALS */
.header {
  grid-area: header;
  z-index: 1;
  width: 100%;
  padding: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  background-image: url(../Images/guitarra.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  left: 0;
  top: 0; }
  .header .titulo {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: antiquewhite; }
  .header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: auto; }
    .header nav ul li {
      display: inline-block;
      margin: auto;
      list-style: none;
      position: relative;
      margin: 0.5rem;
      padding: 0.5rem 1rem;
      border: 0.3px solid white;
      box-shadow: 0 0 25px #222;
      backdrop-filter: blur(30px); }
      .header nav ul li a {
        text-decoration: none;
        color: antiquewhite; }
    .header nav ul li::before {
      content: "";
      height: 3px;
      width: 0%;
      background-color: yellowgreen;
      position: absolute;
      left: 0;
      bottom: -10px;
      transition: 0.4s ease-out; }
    .header nav ul li:hover::before {
      width: 100%; }

.menu-icono img {
  width: 50px;
  height: 50px;
  border-radius: 2px;
  cursor: pointer; }

.menu-icono, #check {
  display: none; }

@media (max-width: 950px) {
  .header nav ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    top: 100px;
    left: -100%;
    background: #222;
    width: 100%;
    height: 100vh;
    right: 0; }
    .header nav ul li {
      padding: 2rem;
      display: flex;
      justify-content: center;
      margin: 0;
      margin: 2rem;
      border: none;
      font-size: x-large; }
  .check-boton {
    display: block; }
  .menu-icono {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px; }
  #check:checked ~ ul {
    left: 0;
    transition: all 0.75s; } }

.footer {
  grid-area: footer;
  background-color: black;
  display: grid;
  grid-template: "box1 box3" auto "box2 box4" auto;
  padding: 0; }
  .footer div figure a img {
    width: 250px;
    height: auto; }

.box1 {
  grid-area: box1; }

.box2 {
  grid-area: box2; }

.box3 {
  grid-area: box3; }

.box4 {
  grid-area: box4; }

.box1, .box2, .box3, .box4 {
  padding: 10px;
  text-align: center;
  background-color: black; }

@media (min-width: 1200px) {
  .footer {
    grid-template: "box1 box2 box3" "box4 box4 box4"; } }

/* PAGES */
.main-index {
  grid-area: main;
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px; }
  .main-index h2 {
    padding: 20px;
    text-align: center; }
  .main-index .texto-principal {
    padding: 20px; }

.video {
  padding: 20px; }

.patrocinadores {
  grid-area: patrocinadores;
  display: flex;
  justify-content: space-around;
  padding: 20px; }

.tabla, .tabla--active {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: 0;
  grid-area: tabla;
  padding: 20px;
  width: 100%; }
  .tabla h3, .tabla--active h3 {
    padding: 20px;
    text-align: center; }
  .tabla--active {
    color: yellowgreen; }

.tabla-contenedor {
  border: solid 1px antiquewhite; }

th, td {
  border: solid 1px antiquewhite;
  text-align: center;
  padding: 10px; }

.grid-contenedor-index {
  display: grid;
  gap: 20px;
  grid-template: "header" "main" "tabla" "patrocinadores" "footer"; }

@media (min-width: 768px) {
  .grid-contenedor-index {
    grid-template: "header header" "main main" "tabla tabla" "patrocinadores patrocinadores" "footer footer"; }
  .contenedor-flex {
    display: flex;
    justify-content: space-around; } }

@media (min-width: 1200px) {
  .grid-contenedor-index {
    grid-template: "header header header" "main   main   patrocinadores" "tabla  tabla patrocinadores" "footer footer footer"; } }

.grid-contenedor-banda {
  display: grid;
  gap: 20px;
  grid-template: "header" "main-banda" "patrocinadores-banda" "footer"; }

.main-banda {
  grid-area: main-banda;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 30px; }
  .main-banda h2 {
    padding: 30px;
    text-align: center; }
  .main-banda picture {
    text-align: center;
    padding: 30px; }
    .main-banda picture .nuestra-banda {
      height: 450px;
      width: auto; }
  .main-banda .texto-principal {
    text-align: center;
    padding: 30px; }
  .main-banda .musicos h3 {
    text-align: center;
    padding-top: 100px; }
  .main-banda .musicos .guitarrista {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px; }
    .main-banda .musicos .guitarrista .box-articulo {
      text-align: center;
      padding: 30px; }
      .main-banda .musicos .guitarrista .box-articulo .foto-musico img {
        height: 400px;
        width: auto; }
  .main-banda .musicos .cantante {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px; }
    .main-banda .musicos .cantante .box-articulo {
      text-align: center;
      padding: 30px; }
      .main-banda .musicos .cantante .box-articulo .foto-musico img {
        height: 300px;
        width: auto; }
  .main-banda .musicos .baterista {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px; }
    .main-banda .musicos .baterista .box-articulo {
      text-align: center;
      padding: 30px; }
  .main-banda .musicos .tecladista {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px; }
    .main-banda .musicos .tecladista .box-articulo {
      text-align: center;
      padding: 30px; }
  .main-banda .musicos .bajista {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px; }
    .main-banda .musicos .bajista .box-articulo {
      text-align: center;
      padding: 30px; }
  .main-banda .slide {
    max-width: 1000px;
    margin-left: 20%;
    margin-right: 20%; }
    .main-banda .slide img {
      object-fit: cover; }
    .main-banda .slide p {
      box-shadow: 0 0 25px #222;
      backdrop-filter: blur(30px); }
    .main-banda .slide h5 {
      box-shadow: 0 0 25px #222;
      backdrop-filter: blur(30px); }

@media (min-width: 1200px) {
  .main-banda .musicos .guitarrista {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
  .main-banda .musicos .cantante {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around; }
  .main-banda .musicos .baterista {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
  .main-banda .musicos .tecladista {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around; }
  .main-banda .musicos .bajista {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
  .main-banda .musicos h3 {
    padding-bottom: 50px; }
  aside picture img {
    height: 75px;
    width: auto; } }

.grid-contenedor-discografia {
  display: grid;
  gap: 20px;
  grid-template: "header" "main-discografia" "patrocinadores-discografia" "footer"; }

.main-discografia {
  grid-area: main-discografia;
  margin-top: 150px; }
  .main-discografia .discografia ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    .main-discografia .discografia ul li {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 50px; }
      .main-discografia .discografia ul li img {
        width: 250px;
        height: 250px; }
  .main-discografia .discografia h2 {
    padding: 20px;
    text-align: center; }
  .main-discografia .discografia h3 {
    text-align: center; }
  .main-discografia .discografia .contenedor-spotify {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .main-discografia .discografia .contenedor-spotify img {
      width: 300px;
      height: auto; }

.patrocinadores-discografia {
  grid-area: patrocinadores-discografia;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px; }
  .patrocinadores-discografia picture img {
    display: flex; }

@media (min-width: 1200px) {
  .grid-contenedor-discografia {
    grid-template: "header header" "main-discografia patrocinadores-discografia" "footer footer "; }
  .patrocinadores-discografia {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 130px;
    padding: 20px; }
  .patrocinadores-discografia picture {
    display: flex;
    justify-content: center; } }

.grid-contenedor-galeria {
  display: grid;
  gap: 20px;
  grid-template: "header" "main-galeria" "patrocinadores-galeria" "footer"; }

.main-galeria {
  grid-area: main-galeria; }
  .main-galeria h2 {
    text-align: center;
    padding-top: 170px; }
  .main-galeria .galeria {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 100px; }
    .main-galeria .galeria figure img {
      height: 300px;
      width: auto;
      padding: 30px; }

.patrocinadores-galeria {
  grid-area: patrocinadores-galeria;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

@media (min-width: 1200px) {
  .grid-contenedor-galeria {
    grid-template: "header header" "main-galeria patrocinadores-galeria" "footer footer "; }
  .patrocinadores-galeria {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 130px;
    padding: 20px; }
  .patrocinadores-galeria picture {
    display: flex;
    justify-content: center; } }

.grid-contenedor-contacto {
  display: grid;
  gap: 20px;
  grid-template: "header" "main-contacto" "patrocinadores-contacto" "footer"; }

.main-contacto {
  grid-area: main-contacto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 50px; }
  .main-contacto h2 {
    margin-top: 100px;
    padding: 30px;
    text-align: center; }
  .main-contacto h3 {
    text-align: center; }
  .main-contacto .formulario {
    display: flex;
    justify-content: center; }
    .main-contacto .formulario form {
      max-width: 450px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 30px; }
      .main-contacto .formulario form label {
        padding: 20px; }
      .main-contacto .formulario form input {
        padding: 10px; }

.patrocinadores-contacto {
  grid-area: patrocinadores-contacto;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

@media (min-width: 1200px) {
  .grid-contenedor-contacto {
    grid-template: "header header header header" "main-contacto main-contacto main-contacto patrocinadores-contacto" "footer footer footer footer"; }
  .patrocinadores-contacto {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 130px;
    padding: 20px; }
  .patrocinadores-contacto picture {
    display: flex;
    justify-content: center; } }
