.footer{
    grid-area: footer;
    background-color: map-get($colors, secondary);
    display: grid;
    grid-template:
    "box1 box3" auto
    "box2 box4" auto;
    padding: 0;

    & div figure a img{
        width: 250px;
        height: auto;
    }
}

.box1{
    grid-area: box1;
}
.box2{
    grid-area: box2;
}
.box3{
    grid-area: box3;
}
.box4{
    grid-area: box4;
}

.box1, .box2, .box3, .box4{
    padding: 10px;
    text-align: center;
    background-color: map-get($colors, secondary);
}

@media (min-width: 1200px){
    .footer{
        grid-template:
        "box1 box2 box3"
        "box4 box4 box4";
    }
}