.header{
    grid-area: header;
    z-index: 1;
    width: 100%;
    padding: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    background-image:url(../Images/guitarra.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    left: 0;
    top: 0;

    & .titulo{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: map-get($colors, primary);
    }

    & nav ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        height: auto;

        & li{
            display: inline-block;
            margin: auto;
            list-style: none;
            position: relative;
            margin: 0.5rem;
            padding: 0.5rem 1rem;
            border: 0.3px solid map-get($colors, alternative);
            box-shadow: 0 0 25px #222;
            backdrop-filter: blur(30px);

            & a{
                text-decoration: none;
                color: map-get($colors, primary);
            }
        }

        & li::before{
            content: "";
            height: 3px;
            width: 0%;
            background-color: map-get($colors, base);
            position: absolute;
            left: 0;
            bottom: -10px;
            transition: 0.4s ease-out;
        }

        & li:hover::before{
            width: 100%;
        }
    }
}

.menu-icono img{
    width: 50px;
    height: 50px;
    border-radius: 2px;
    cursor: pointer;
}

.menu-icono, #check{
    display: none;
}

@media (max-width:950px){

    .header nav ul{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: fixed;
        top: 99px;
        left: -100%;
        background: #222;
        width: 100%;
        height: 100vh;
        right: 0;
    
        & li{
            padding: 2rem;
            display: flex;
            justify-content: center;
            margin: 0;
            margin: 2rem;
            border: none;
            font-size: x-large;
        }
    }
    
    .check-boton{
        display: block;
    }

    .menu-icono{
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
    }

    #check:checked ~ ul{
        left: 0;
        transition: all 0.75s;
    }
}